openapi: 3.1.0
info:
  title: Shorted API
  version: "v1"
  x-logo:
    url: https://shorted.com.au/logo.png
  description: |-
    Shorted API's
  contact:
    url: shorted.com.au
    email: support@shorted.com.au
  license:
    name: Proprietary license
    url: https://shorted.com.au/terms
paths:
  /v1/latest:
    get:
      operationId: getLatestPublication
      summary: The newest published panel date, as a cheap conditional GET
      description: |
        Answers "has a new ASIC report landed?" in one small request.

        The alternative was polling `GetAvailableDates` and diffing. That is the
        wrong shape for the question: the data updates about once a business day
        at an hour you cannot predict, and the anonymous quota is 500 requests a
        month — so hourly polling spends more than the entire free quota to
        detect roughly 22 events, almost all of it on "nothing has changed".

        Send back the `ETag` as `If-None-Match` and an unchanged answer costs a
        `304` with no body. The ETag is derived from the content, so it changes
        exactly when the answer changes and never merely because time passed.

        `available_from` is the date the newest observation actually became
        public — ASIC publishes T+4 — which is usually what a daily engine is
        really waiting for.

        ```bash
        curl -A 'my-app/1.0' -H 'If-None-Match: "<previous etag>"' \
          https://api.shorted.com.au/v1/latest
        ```
      responses:
        "200":
          description: The current publication state.
          content:
            application/json:
              schema:
                type: object
                properties:
                  latest_date:
                    type: string
                    format: date
                    description: Newest trading date the panel holds.
                  available_from:
                    type: string
                    format: date
                    description: When that observation became public (T+4 trading days).
                  earliest_date:
                    type: string
                    format: date
                  total_dates:
                    type: integer
                    description: Trading dates held in total.
                  publication_lag_trading_days:
                    type: integer
        "304":
          description: Unchanged since the ETag you sent. No body.
  /v1/panel:
    get:
      operationId: exportPanel
      summary: Export the whole short-position panel for a date range
      description: |
        The complete ASIC short-position panel — every security on every
        trading date in the window — as CSV or NDJSON, in ONE request.

        Building a research panel from `GetMarketByDate` costs one request per
        trading date: about 2,500 for a decade, against an anonymous quota of
        500 a month. This endpoint replaces that, and is cheaper for us to
        serve than the pattern it replaces. It is metered at 50 requests
        against your quota rather than one, because it does considerably more
        than one request's work.

        Rows are streamed and ordered by `(date, product_code)`, so a repeated
        export of the same window is byte-identical and can be diffed or
        resumed. `reported_short_positions` is a raw SHARE COUNT and
        `total_product_in_issue` is the denominator behind `percent_shorted` —
        shares on issue moves with placements and buybacks, so the percent can
        change with no change in short positioning at all.

        Because the response streams, the HTTP status is committed before the
        first row. A failure part-way through therefore cannot be a 5xx: the
        body ends with a line beginning `#ERROR`. Check for it before trusting
        a file to be complete.

        ```bash
        curl -A 'my-app/1.0' \
          'https://api.shorted.com.au/v1/panel?from=2015-01-01&to=2025-12-31' \
          -o panel.csv
        ```
      parameters:
        - name: from
          in: query
          required: true
          description: First trading date to include, YYYY-MM-DD.
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          description: Last trading date to include, YYYY-MM-DD.
          schema:
            type: string
            format: date
        - name: format
          in: query
          required: false
          description: Output encoding.
          schema:
            type: string
            enum:
              - csv
              - ndjson
            default: csv
        - name: codes
          in: query
          required: false
          description: >-
            Comma-separated ASX codes to restrict the export to. Omit for every security. Case-insensitive.
          schema:
            type: string
        - name: as_of
          in: query
          required: false
          description: >-
            Point-in-time filter, YYYY-MM-DD. Returns only observations that had been PUBLISHED by this date. ASIC publishes T+4, so an export for a historical window otherwise contains up to four days of data nobody could have had on the dates it is dated — lookahead a backtest cannot detect from the outside. Every row also carries available_from, so the lag can be checked rather than assumed.

            This covers publication LAG only. ASIC can also revise a position after the fact; the store updates in place, so a historical query returns the as-revised value and no field here identifies it as revised.
          schema:
            type: string
            format: date
        - name: ordinary_only
          in: query
          required: false
          description: >-
            Restrict the panel to ordinary share lines, excluding ETFs, bonds, hybrids, secondary lines and micro-instruments. Off by default, so the export stays a faithful record of what ASIC reported.

            Short interest is a percent of shares on issue, and that quantity is not comparable across instrument types — a warrant or ETF unit produces a number that looks like an ordinary share's short percentage without being one. Every row carries security_type (ordinary / etf / debt / other) so the decision can also be made client-side.
          schema:
            type: boolean
            default: false
        - name: include_zero
          in: query
          required: false
          description: >-
            Include securities whose reported short position was zero on a date. Off by default, which suits a "most shorted" view; turn it on when building a research universe, since excluding the zero-interest names biases anything that sorts on short interest.
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: The panel, streamed.
          content:
            text/csv:
              schema:
                type: string
                description: >-
                  Header row followed by one row per (date, security): date, available_from, security_type, product_code, product_name, reported_short_positions, total_product_in_issue, percent_shorted.
            application/x-ndjson:
              schema:
                type: string
                description: One JSON object per line, same fields as the CSV columns.
        "400":
          description: >-
            Missing or unparseable from/to, a reversed window, a window longer than 30 years, or an unknown format.
        "429":
          description: Rate limit exceeded. This endpoint costs 50 units.
  /api/search/stocks:
    servers:
      - url: https://shorted.com.au
        description: Production (web app, not the API host)
    get:
      operationId: searchStocks
      summary: Search ASX stocks by code or name
      description: |
        Case-insensitive substring match over a curated in-process list of
        ~70 well-known ASX securities (not the full ASX register, and not the
        short-position corpus). Returns at most 10 results. For programmatic
        search over the full corpus use the Connect-RPC SearchService.
      parameters:
        - name: q
          in: query
          required: true
          description: Ticker or partial company name, e.g. `BHP` or `Commonwealth`. An empty or missing value returns an empty result list.
          schema:
            type: string
      responses:
        "200":
          description: Matching stocks, capped at 10.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: ASX ticker, e.g. `BHP`.
                        name:
                          type: string
                          description: Company name.
                        exchange:
                          type: string
                          description: Always `ASX`.
        "429":
          description: Rate limited (per-minute browser bucket).
        "500":
          description: Search failed.
  /feed.xml:
    servers:
      - url: https://shorted.com.au
        description: Production (web app, not the API host)
    get:
      operationId: getRssFeed
      summary: RSS feed of editorial articles and short-selling reports
      responses:
        "200":
          description: RSS 2.0 XML.
          content:
            application/rss+xml:
              schema:
                type: string
  /shorts.v1alpha1.AlertsService/CreateAlertMonitor:
    post:
      tags:
        - shorts.v1alpha1.AlertsService
      summary: CreateAlertMonitor
      description: Create a premium short-interest alert monitor for the current user.
      operationId: AlertsService_CreateAlertMonitor
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.CreateAlertMonitorRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.CreateAlertMonitorResponse'
  /shorts.v1alpha1.AlertsService/ListAlertMonitors:
    post:
      tags:
        - shorts.v1alpha1.AlertsService
      summary: ListAlertMonitors
      description: List short-interest alert monitors for the current user.
      operationId: AlertsService_ListAlertMonitors
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.ListAlertMonitorsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.ListAlertMonitorsResponse'
  /shorts.v1alpha1.BillingService/GetMySubscription:
    post:
      tags:
        - shorts.v1alpha1.BillingService
      summary: GetMySubscription
      description: Get the current user's subscription status. Requires authentication.
      operationId: BillingService_GetMySubscription
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetMySubscriptionRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetMySubscriptionResponse'
  /shorts.v1alpha1.BillingService/HandleStripeCheckoutCompleted:
    post:
      tags:
        - shorts.v1alpha1.BillingService
      summary: HandleStripeCheckoutCompleted
      description: 'Internal API for Stripe webhook: handle checkout completion (server-to-server only)'
      operationId: BillingService_HandleStripeCheckoutCompleted
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.HandleStripeCheckoutCompletedRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.HandleStripeCheckoutCompletedResponse'
  /shorts.v1alpha1.BillingService/HandleStripeSubscriptionUpdated:
    post:
      tags:
        - shorts.v1alpha1.BillingService
      summary: HandleStripeSubscriptionUpdated
      description: 'Internal API for Stripe webhook: handle subscription updates (server-to-server only)'
      operationId: BillingService_HandleStripeSubscriptionUpdated
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.HandleStripeSubscriptionUpdatedRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.HandleStripeSubscriptionUpdatedResponse'
  /shorts.v1alpha1.BillingService/MintToken:
    post:
      tags:
        - shorts.v1alpha1.BillingService
      summary: MintToken
      description: Mint an API token for the user. Requires valid authentication.
      operationId: BillingService_MintToken
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.MintTokenRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.MintTokenResponse'
  /shorts.v1alpha1.EconomyService/GetEconomicSeries:
    post:
      tags:
        - shorts.v1alpha1.EconomyService
      summary: GetEconomicSeries
      description: Fetch observations for up to 50 series by series_key.
      operationId: EconomyService_GetEconomicSeries
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetEconomicSeriesRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetEconomicSeriesResponse'
  /shorts.v1alpha1.EconomyService/GetStateCompanyAggregates:
    post:
      tags:
        - shorts.v1alpha1.EconomyService
      summary: GetStateCompanyAggregates
      description: Exposure-weighted market cap and short interest aggregates by state.
      operationId: EconomyService_GetStateCompanyAggregates
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetStateCompanyAggregatesRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetStateCompanyAggregatesResponse'
  /shorts.v1alpha1.EconomyService/ListEconomicSeries:
    post:
      tags:
        - shorts.v1alpha1.EconomyService
      summary: ListEconomicSeries
      description: List economic series catalog entries (Australian economy snapshot layer).
      operationId: EconomyService_ListEconomicSeries
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.ListEconomicSeriesRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.ListEconomicSeriesResponse'
  /shorts.v1alpha1.EconomyService/ListSeriesCorrelations:
    post:
      tags:
        - shorts.v1alpha1.EconomyService
      summary: ListSeriesCorrelations
      description: Rank precomputed economic-series correlations for a base market series.
      operationId: EconomyService_ListSeriesCorrelations
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.ListSeriesCorrelationsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.ListSeriesCorrelationsResponse'
  /shorts.v1alpha1.EconomyService/ListStateCompanies:
    post:
      tags:
        - shorts.v1alpha1.EconomyService
      summary: ListStateCompanies
      description: List ASX-listed companies with operations-weighted exposure to a state.
      operationId: EconomyService_ListStateCompanies
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.ListStateCompaniesRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.ListStateCompaniesResponse'
  /shorts.v1alpha1.HousingService/FilterSuburbs:
    post:
      tags:
        - shorts.v1alpha1.HousingService
      summary: FilterSuburbs
      description: Return a compact index-aligned mask for ANDed metric predicates.
      operationId: HousingService_FilterSuburbs
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.FilterSuburbsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.FilterSuburbsResponse'
  /shorts.v1alpha1.HousingService/GetDropIndexSeries:
    post:
      tags:
        - shorts.v1alpha1.HousingService
      summary: GetDropIndexSeries
      description: Daily discounting index series (national/state/suburb) for the price-drops chart.
      operationId: HousingService_GetDropIndexSeries
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetDropIndexSeriesRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetDropIndexSeriesResponse'
  /shorts.v1alpha1.HousingService/GetHousePriceSeries:
    post:
      tags:
        - shorts.v1alpha1.HousingService
      summary: GetHousePriceSeries
      description: A single house-price time series for a region and measure.
      operationId: HousingService_GetHousePriceSeries
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetHousePriceSeriesRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetHousePriceSeriesResponse'
  /shorts.v1alpha1.HousingService/GetHousingOverview:
    post:
      tags:
        - shorts.v1alpha1.HousingService
      summary: GetHousingOverview
      description: Latest house-price headline metrics by region (national/state/capital city).
      operationId: HousingService_GetHousingOverview
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetHousingOverviewRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetHousingOverviewResponse'
  /shorts.v1alpha1.HousingService/GetPriceDropsOverview:
    post:
      tags:
        - shorts.v1alpha1.HousingService
      summary: GetPriceDropsOverview
      description: State-level price-drop + listing-price rollup, plus a national summary row.
      operationId: HousingService_GetPriceDropsOverview
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetPriceDropsOverviewRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetPriceDropsOverviewResponse'
  /shorts.v1alpha1.HousingService/GetPropertyHistory:
    post:
      tags:
        - shorts.v1alpha1.HousingService
      summary: GetPropertyHistory
      description: Full price timeline for a single physical address, across all its listings.
      operationId: HousingService_GetPropertyHistory
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetPropertyHistoryRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetPropertyHistoryResponse'
  /shorts.v1alpha1.HousingService/GetSuburbIndex:
    post:
      tags:
        - shorts.v1alpha1.HousingService
      summary: GetSuburbIndex
      description: Stable sal_code-ordered index used by all columnar suburb responses.
      operationId: HousingService_GetSuburbIndex
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetSuburbIndexRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetSuburbIndexResponse'
  /shorts.v1alpha1.HousingService/GetSuburbMetricColumns:
    post:
      tags:
        - shorts.v1alpha1.HousingService
      summary: GetSuburbMetricColumns
      description: Fetch only the map metric columns currently needed by the client.
      operationId: HousingService_GetSuburbMetricColumns
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetSuburbMetricColumnsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetSuburbMetricColumnsResponse'
  /shorts.v1alpha1.HousingService/GetSuburbProfile:
    post:
      tags:
        - shorts.v1alpha1.HousingService
      summary: GetSuburbProfile
      description: 'Full per-suburb profile: identity, demographics, headline price, comparison baselines.'
      operationId: HousingService_GetSuburbProfile
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetSuburbProfileRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetSuburbProfileResponse'
  /shorts.v1alpha1.HousingService/ListAddressPriceDrops:
    post:
      tags:
        - shorts.v1alpha1.HousingService
      summary: ListAddressPriceDrops
      description: Individual physical addresses ranked by their asking-price drop over a window.
      operationId: HousingService_ListAddressPriceDrops
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.ListAddressPriceDropsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.ListAddressPriceDropsResponse'
  /shorts.v1alpha1.HousingService/ListAgencyPriceStats:
    post:
      tags:
        - shorts.v1alpha1.HousingService
      summary: ListAgencyPriceStats
      description: Agencies ranked by recent asking-price cuts across their listings.
      operationId: HousingService_ListAgencyPriceStats
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.ListAgencyPriceStatsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.ListAgencyPriceStatsResponse'
  /shorts.v1alpha1.HousingService/ListHousingRegions:
    post:
      tags:
        - shorts.v1alpha1.HousingService
      summary: ListHousingRegions
      description: List house-price regions (suburbs/LGAs/etc) for the suburb explorer.
      operationId: HousingService_ListHousingRegions
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.ListHousingRegionsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.ListHousingRegionsResponse'
  /shorts.v1alpha1.HousingService/ListStateSuburbs:
    post:
      tags:
        - shorts.v1alpha1.HousingService
      summary: ListStateSuburbs
      description: List all suburbs in a state with latest median price + key demographics.
      operationId: HousingService_ListStateSuburbs
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.ListStateSuburbsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.ListStateSuburbsResponse'
  /shorts.v1alpha1.HousingService/ListSuburbDropListings:
    post:
      tags:
        - shorts.v1alpha1.HousingService
      summary: ListSuburbDropListings
      description: Individual recently-reduced listings for a suburb, deep-linking to the portal.
      operationId: HousingService_ListSuburbDropListings
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.ListSuburbDropListingsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.ListSuburbDropListingsResponse'
  /shorts.v1alpha1.HousingService/ListSuburbPriceDrops:
    post:
      tags:
        - shorts.v1alpha1.HousingService
      summary: ListSuburbPriceDrops
      description: Suburbs ranked by recent for-sale asking-price drops.
      operationId: HousingService_ListSuburbPriceDrops
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.ListSuburbPriceDropsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.ListSuburbPriceDropsResponse'
  /shorts.v1alpha1.IndustryIntelligenceService/GetIndustryIntelligence:
    post:
      tags:
        - shorts.v1alpha1.IndustryIntelligenceService
      summary: GetIndustryIntelligence
      description: Get imported, cited industry intelligence facts for an industry.
      operationId: IndustryIntelligenceService_GetIndustryIntelligence
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetIndustryIntelligenceRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetIndustryIntelligenceResponse'
  /shorts.v1alpha1.MarketService/GetAvailableDates:
    post:
      tags:
        - shorts.v1alpha1.MarketService
      summary: GetAvailableDates
      description: Get available trading dates for market snapshots
      operationId: MarketService_GetAvailableDates
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetAvailableDatesRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetAvailableDatesResponse'
  /shorts.v1alpha1.MarketService/GetBattlegroundStocks:
    post:
      tags:
        - shorts.v1alpha1.MarketService
      summary: GetBattlegroundStocks
      description: Get squeeze-radar and battleground (price up + shorts building) ranked stocks
      operationId: MarketService_GetBattlegroundStocks
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetBattlegroundStocksRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetBattlegroundStocksResponse'
  /shorts.v1alpha1.MarketService/GetIndexSeries:
    post:
      tags:
        - shorts.v1alpha1.MarketService
      summary: GetIndexSeries
      description: Benchmark index levels — the series a strategy's return is measured against.
      operationId: MarketService_GetIndexSeries
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetIndexSeriesRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetIndexSeriesResponse'
  /shorts.v1alpha1.MarketService/GetIndustryTreeMap:
    post:
      tags:
        - shorts.v1alpha1.MarketService
      summary: GetIndustryTreeMap
      description: Get Industry TreeMap for short positions.
      operationId: MarketService_GetIndustryTreeMap
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetIndustryTreeMapRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stocks.v1alpha1.IndustryTreeMap'
  /shorts.v1alpha1.MarketService/GetMarketByDate:
    post:
      tags:
        - shorts.v1alpha1.MarketService
      summary: GetMarketByDate
      description: Get all short positions for a specific trading date
      operationId: MarketService_GetMarketByDate
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetMarketByDateRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetMarketByDateResponse'
  /shorts.v1alpha1.MarketService/GetShortCampaignScoreboard:
    post:
      tags:
        - shorts.v1alpha1.MarketService
      summary: GetShortCampaignScoreboard
      description: 'Get the short-seller scoreboard: historic short campaigns and whether shorts won'
      operationId: MarketService_GetShortCampaignScoreboard
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetShortCampaignScoreboardRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetShortCampaignScoreboardResponse'
  /shorts.v1alpha1.MarketService/GetSyncStatus:
    post:
      tags:
        - shorts.v1alpha1.MarketService
      summary: GetSyncStatus
      description: Get sync status for admin dashboard
      operationId: MarketService_GetSyncStatus
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetSyncStatusRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetSyncStatusResponse'
  /shorts.v1alpha1.MarketService/GetTopShorts:
    post:
      tags:
        - shorts.v1alpha1.MarketService
      summary: GetTopShorts
      description: Shows top 10 short positions on the ASX over different periods of time.
      operationId: MarketService_GetTopShorts
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetTopShortsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetTopShortsResponse'
  /shorts.v1alpha1.MarketService/ListIndices:
    post:
      tags:
        - shorts.v1alpha1.MarketService
      summary: ListIndices
      description: List the benchmark indices available, and whether each reinvests dividends.
      operationId: MarketService_ListIndices
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.ListIndicesRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.ListIndicesResponse'
  /shorts.v1alpha1.NewsService/DeleteEditorialTake:
    post:
      tags:
        - shorts.v1alpha1.NewsService
      summary: DeleteEditorialTake
      description: 'Admin: hard delete a take.'
      operationId: NewsService_DeleteEditorialTake
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.DeleteEditorialTakeRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.DeleteEditorialTakeResponse'
  /shorts.v1alpha1.NewsService/GetEditorialTake:
    post:
      tags:
        - shorts.v1alpha1.NewsService
      summary: GetEditorialTake
      description: Get a single published editorial take by slug.
      operationId: NewsService_GetEditorialTake
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetEditorialTakeRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetEditorialTakeResponse'
  /shorts.v1alpha1.NewsService/GetMarketNews:
    post:
      tags:
        - shorts.v1alpha1.NewsService
      summary: GetMarketNews
      description: Get market-wide news across all stocks
      operationId: NewsService_GetMarketNews
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetMarketNewsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetMarketNewsResponse'
  /shorts.v1alpha1.NewsService/GetRelatedNews:
    post:
      tags:
        - shorts.v1alpha1.NewsService
      summary: GetRelatedNews
      description: Get news semantically related to a stock (or to a specific article)
      operationId: NewsService_GetRelatedNews
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetRelatedNewsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetRelatedNewsResponse'
  /shorts.v1alpha1.NewsService/GetStockNews:
    post:
      tags:
        - shorts.v1alpha1.NewsService
      summary: GetStockNews
      description: Get recent news articles for a specific stock
      operationId: NewsService_GetStockNews
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetStockNewsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetStockNewsResponse'
  /shorts.v1alpha1.NewsService/ListEditorialTakes:
    post:
      tags:
        - shorts.v1alpha1.NewsService
      summary: ListEditorialTakes
      description: List recent published editorial takes (paginated).
      operationId: NewsService_ListEditorialTakes
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.ListEditorialTakesRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.ListEditorialTakesResponse'
  /shorts.v1alpha1.NewsService/ListEditorialTakesAdmin:
    post:
      tags:
        - shorts.v1alpha1.NewsService
      summary: ListEditorialTakesAdmin
      description: 'Admin: list all takes including drafts (admin-gated).'
      operationId: NewsService_ListEditorialTakesAdmin
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.ListEditorialTakesAdminRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.ListEditorialTakesAdminResponse'
  /shorts.v1alpha1.NewsService/ListTweetPublishQueue:
    post:
      tags:
        - shorts.v1alpha1.NewsService
      summary: ListTweetPublishQueue
      description: |-
        Admin: list takes in the tweet publish queue (published_at IS NOT NULL,
         tweet_published_at IS NULL). Used by the bot worker.
      operationId: NewsService_ListTweetPublishQueue
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.ListTweetPublishQueueRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.ListTweetPublishQueueResponse'
  /shorts.v1alpha1.NewsService/MarkTakeTweetPublished:
    post:
      tags:
        - shorts.v1alpha1.NewsService
      summary: MarkTakeTweetPublished
      description: 'Admin: mark a take as tweet-published (called by the bot worker).'
      operationId: NewsService_MarkTakeTweetPublished
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.MarkTakeTweetPublishedRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.MarkTakeTweetPublishedResponse'
  /shorts.v1alpha1.NewsService/PublishEditorialTake:
    post:
      tags:
        - shorts.v1alpha1.NewsService
      summary: PublishEditorialTake
      description: 'Admin: publish a draft take (sets published_at = NOW()).'
      operationId: NewsService_PublishEditorialTake
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.PublishEditorialTakeRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.PublishEditorialTakeResponse'
  /shorts.v1alpha1.NewsService/UpdateEditorialTake:
    post:
      tags:
        - shorts.v1alpha1.NewsService
      summary: UpdateEditorialTake
      description: 'Admin: partial update of a take''s editable fields.'
      operationId: NewsService_UpdateEditorialTake
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.UpdateEditorialTakeRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.UpdateEditorialTakeResponse'
  /shorts.v1alpha1.PoliticiansService/ComparePoliticians:
    post:
      tags:
        - shorts.v1alpha1.PoliticiansService
      summary: ComparePoliticians
      description: Neutral, symmetric comparison of two politician register summaries.
      operationId: PoliticiansService_ComparePoliticians
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.ComparePoliticiansRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.ComparePoliticiansResponse'
  /shorts.v1alpha1.PoliticiansService/GetDonationsOverview:
    post:
      tags:
        - shorts.v1alpha1.PoliticiansService
      summary: GetDonationsOverview
      description: |-
        Party-group funding rollups for one financial year, plus the corpus
         counts and disclosure notes a funding surface must render.
      operationId: PoliticiansService_GetDonationsOverview
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetDonationsOverviewRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetDonationsOverviewResponse'
  /shorts.v1alpha1.PoliticiansService/GetParliamentOverview:
    post:
      tags:
        - shorts.v1alpha1.PoliticiansService
      summary: GetParliamentOverview
      description: Parliament-wide counts and the as-at date. Cheap; drives the hub tiles.
      operationId: PoliticiansService_GetParliamentOverview
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetParliamentOverviewRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetParliamentOverviewResponse'
  /shorts.v1alpha1.PoliticiansService/GetPolitician:
    post:
      tags:
        - shorts.v1alpha1.PoliticiansService
      summary: GetPolitician
      description: 'One politician''s profile: declared interests, property, and terms served.'
      operationId: PoliticiansService_GetPolitician
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetPoliticianRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetPoliticianResponse'
  /shorts.v1alpha1.PoliticiansService/GetPoliticianAnalytics:
    post:
      tags:
        - shorts.v1alpha1.PoliticiansService
      summary: |-
        Aggregate shape of the register: which parties declare interests in which
         industries, and where members are from.
      description: |-
        COUNTS OF PEOPLE AND DECLARATIONS ONLY. There is no weight, size, exposure
         or value here and none may be added — the registers do not record any, so
         any such figure would be invented. A cell says "N members of this party
         declared an interest in a company in this industry", and nothing more.
      operationId: PoliticiansService_GetPoliticianAnalytics
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetPoliticianAnalyticsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetPoliticianAnalyticsResponse'
  /shorts.v1alpha1.PoliticiansService/GetPoliticianExplorerProfile:
    post:
      tags:
        - shorts.v1alpha1.PoliticiansService
      summary: GetPoliticianExplorerProfile
      description: Count-based analytics for one politician's explorer profile.
      operationId: PoliticiansService_GetPoliticianExplorerProfile
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetPoliticianExplorerProfileRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetPoliticianExplorerProfileResponse'
  /shorts.v1alpha1.PoliticiansService/GetPoliticianFunding:
    post:
      tags:
        - shorts.v1alpha1.PoliticiansService
      summary: GetPoliticianFunding
      description: The funding returns that NAME one member. Never party money.
      operationId: PoliticiansService_GetPoliticianFunding
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetPoliticianFundingRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetPoliticianFundingResponse'
  /shorts.v1alpha1.PoliticiansService/GetRegisterActivity:
    post:
      tags:
        - shorts.v1alpha1.PoliticiansService
      summary: |-
        Aggregate lodgement activity over a window: weekly event counts, the
         members with the most dated events, companies first declared in the window,
         and companies whose declarer count moved.
      description: |-
        COUNTS AND DATES ONLY. "Most active" is a count ordering, and is the
         strongest characterisation permitted beside a named member — nothing here
         may become "unusual", "spike", "watch" or a flag of any kind.
      operationId: PoliticiansService_GetRegisterActivity
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetRegisterActivityRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetRegisterActivityResponse'
  /shorts.v1alpha1.PoliticiansService/GetRegisterExplorer:
    post:
      tags:
        - shorts.v1alpha1.PoliticiansService
      summary: GetRegisterExplorer
      description: Aggregate register counts for the explorer hub.
      operationId: PoliticiansService_GetRegisterExplorer
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetRegisterExplorerRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetRegisterExplorerResponse'
  /shorts.v1alpha1.PoliticiansService/ListDistinctiveHoldings:
    post:
      tags:
        - shorts.v1alpha1.PoliticiansService
      summary: ListDistinctiveHoldings
      description: |-
        One member's currently-declared listed companies, each with how many
         members in total currently declare it. A count of one is the plain fact
         "no other member currently declares this"; it is not a label.
      operationId: PoliticiansService_ListDistinctiveHoldings
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.ListDistinctiveHoldingsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.ListDistinctiveHoldingsResponse'
  /shorts.v1alpha1.PoliticiansService/ListPartyFunding:
    post:
      tags:
        - shorts.v1alpha1.PoliticiansService
      summary: ListPartyFunding
      description: One party group's funding across every financial year it lodged in.
      operationId: PoliticiansService_ListPartyFunding
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.ListPartyFundingRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.ListPartyFundingResponse'
  /shorts.v1alpha1.PoliticiansService/ListPoliticianStocks:
    post:
      tags:
        - shorts.v1alpha1.PoliticiansService
      summary: ListPoliticianStocks
      description: Parliament's most-declared ASX-listed companies, with a party split.
      operationId: PoliticiansService_ListPoliticianStocks
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.ListPoliticianStocksRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.ListPoliticianStocksResponse'
  /shorts.v1alpha1.PoliticiansService/ListPoliticianSummaries:
    post:
      tags:
        - shorts.v1alpha1.PoliticiansService
      summary: ListPoliticianSummaries
      description: Filtered politician summaries for the explorer table.
      operationId: PoliticiansService_ListPoliticianSummaries
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.ListPoliticianSummariesRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.ListPoliticianSummariesResponse'
  /shorts.v1alpha1.PoliticiansService/ListPoliticians:
    post:
      tags:
        - shorts.v1alpha1.PoliticiansService
      summary: ListPoliticians
      description: Browse/filter parliamentarians.
      operationId: PoliticiansService_ListPoliticians
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.ListPoliticiansRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.ListPoliticiansResponse'
  /shorts.v1alpha1.PoliticiansService/ListRegisterChanges:
    post:
      tags:
        - shorts.v1alpha1.PoliticiansService
      summary: ListRegisterChanges
      description: Register additions and removals over time.
      operationId: PoliticiansService_ListRegisterChanges
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.ListRegisterChangesRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.ListRegisterChangesResponse'
  /shorts.v1alpha1.PoliticiansService/ListShortInterestOverlap:
    post:
      tags:
        - shorts.v1alpha1.PoliticiansService
      summary: Declared interests in companies carrying short interest.
      description: |-
        The short percentage describes THE COMPANY (ASIC, market-wide). It is not
         and cannot be a property of anyone's holding — the registers record no
         quantities. Consumers must label it as the company's figure.
      operationId: PoliticiansService_ListShortInterestOverlap
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.ListShortInterestOverlapRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.ListShortInterestOverlapResponse'
  /shorts.v1alpha1.PoliticiansService/ListStatePoliticianHoldings:
    post:
      tags:
        - shorts.v1alpha1.PoliticiansService
      summary: ListStatePoliticianHoldings
      description: |-
        Parliamentarians of one state and the listed companies they declare.
         Drives the card on /economy/{state}.
      operationId: PoliticiansService_ListStatePoliticianHoldings
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.ListStatePoliticianHoldingsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.ListStatePoliticianHoldingsResponse'
  /shorts.v1alpha1.PoliticiansService/ListStockPoliticians:
    post:
      tags:
        - shorts.v1alpha1.PoliticiansService
      summary: ListStockPoliticians
      description: |-
        Which parliamentarians declare an interest in one ASX-listed company.
         Drives the card on /shorts/{code}.
      operationId: PoliticiansService_ListStockPoliticians
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.ListStockPoliticiansRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.ListStockPoliticiansResponse'
  /shorts.v1alpha1.PoliticiansService/ListSuburbPoliticians:
    post:
      tags:
        - shorts.v1alpha1.PoliticiansService
      summary: ListSuburbPoliticians
      description: |-
        Which parliamentarians declare real estate in one ABS suburb.
         Drives the card on /housing/{state}/{suburb}.
      operationId: PoliticiansService_ListSuburbPoliticians
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.ListSuburbPoliticiansRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.ListSuburbPoliticiansResponse'
  /shorts.v1alpha1.PoliticiansService/ListTopDonors:
    post:
      tags:
        - shorts.v1alpha1.PoliticiansService
      summary: ListTopDonors
      description: |-
        Payers into party branches for one financial year, ordered by the total
         they were declared to have paid.
      operationId: PoliticiansService_ListTopDonors
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.ListTopDonorsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.ListTopDonorsResponse'
  /shorts.v1alpha1.ReportsService/GetWeeklyReport:
    post:
      tags:
        - shorts.v1alpha1.ReportsService
      summary: GetWeeklyReport
      description: Get a weekly short report with narrative analysis
      operationId: ReportsService_GetWeeklyReport
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetWeeklyReportRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetWeeklyReportResponse'
  /shorts.v1alpha1.ReportsService/ListReports:
    post:
      tags:
        - shorts.v1alpha1.ReportsService
      summary: ListReports
      description: List published short selling reports (weekly, monthly, yearly)
      operationId: ReportsService_ListReports
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.ListReportsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.ListReportsResponse'
  /shorts.v1alpha1.ScreenerService/ScreenStocks:
    post:
      tags:
        - shorts.v1alpha1.ScreenerService
      summary: ScreenStocks
      description: Screen stocks using compound filters across shorts, price, fundamentals, director trades, and news
      operationId: ScreenerService_ScreenStocks
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.ScreenStocksRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.ScreenStocksResponse'
  /shorts.v1alpha1.SearchService/SearchStocks:
    post:
      tags:
        - shorts.v1alpha1.SearchService
      summary: SearchStocks
      description: Search stocks by symbol or company name
      operationId: SearchService_SearchStocks
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.SearchStocksRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.SearchStocksResponse'
  /shorts.v1alpha1.StockService/GetCompanyTaxProfile:
    post:
      tags:
        - shorts.v1alpha1.StockService
      summary: GetCompanyTaxProfile
      description: Get an ASX-listed entity's annual corporate-tax profile (ATO transparency data).
      operationId: StockService_GetCompanyTaxProfile
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetCompanyTaxProfileRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetCompanyTaxProfileResponse'
  /shorts.v1alpha1.StockService/GetDirectorTrades:
    post:
      tags:
        - shorts.v1alpha1.StockService
      summary: GetDirectorTrades
      description: Get director (insider) trades for a specific stock
      operationId: StockService_GetDirectorTrades
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shorts.v1alpha1.GetDirectorTradesRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shorts.v1alpha1.GetDirectorTradesResponse'
  /shorts.v1alpha1.StockService/GetDividendHistory:
    post:
      tags:
        - shorts.v1alpha1.StockService
      summary: GetDividendHistory
      description: Get dividend history for a specific stock
      operationId: StockService_GetDividendHistory
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
[...]
